<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Universitas Serang Raya</title>
	<!-- Icon -->
	<link rel="shortcut icon" href="images/icon.png">
	<!-- Description -->
	<meta name="description" content="Universitas Serang Raya ">
	<!-- Keywords -->
	<meta name="keyword" content="unsera">
	<!-- Author -->
	<meta name="author" content="tbfajri">

	<!-- CSS Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- CSS buatan sendiri -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Css Fontawesome -->
	<link rel="stylesheet" type="text/css" href="fontawesome/css/fontawesome.min.css">

</head>

<body>
	<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
      	<div class="container">
      		
        <a class="navbar-brand" href="#">Universitas Serang Raya</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         Berita
		        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="berita.html">Halaman Berita</a>
			          <a class="dropdown-item" href="detail.html">Detail</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
      		</li>
          </ul>
        </div>
      </nav>
    </header>

	<main role="main">

      
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
<!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="clearfix"></div>
      <div class="jarak"></div>
      <div class="container marketing jarak">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/gambar-tugas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Web Desain</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="profile.html" role="button"> <i class="fa fa-forward"></i>View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/gambar-tugas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Web Development</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="profil.html" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/gambar-tugas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Android Apps</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-danger" href="profil.html" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


      
        <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      
    </main>
 
		<footer class="footer">
			<div class="container">
		  	<p class="float-right"><a href="#">Back to top</a></p>
		    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>	
		    </div>
		  </footer>
	


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<!-- Load javascript jquery -->
<script src="jquery-ui/external/jquery/jquery.js" type="text/javascript"></script>
<!-- Load javascript Bootstrap -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>

</html>